@model IEnumerable<MidTerm.ViewModel.OrderDetailViewModel>
@{
    ViewData["Title"] = "Details";
}

<h1>Order Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaHH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenHH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTaDonVi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThanhTien)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaHH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenHH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoTaDonVi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThanhTien)
                </td>
            </tr>
        }
    </tbody>
</table>

